{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 250px"><br>
    <p>{{ product.information | safe }}</p>

    {% if product.status == None %}
        <small>price: {{ product.total_price }}</small><br>
    {% else %}
        {#  ------------------  variants  -------------------  #}
        {% if product.status == 'Size' %}
            <form method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" name="select" value="{{ data.id }}"
                           {% if data.id == selected_variant.id %}checked{% endif %}
                           onchange="this.form.submit();"/>
                    <a style="text-decoration: none">{{ data.size_variant }}</a>
                {% endfor %}
            </form>
        {% elif product.status == 'Color' %}
            <form method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" name="select" value="{{ data.id }}"
                           {% if data.id == selected_variant.id %}checked{% endif %}
                           onchange="this.form.submit();"/>
                    <a style="text-decoration: none">{{ data.color_variant }}</a>
                {% endfor %}
            </form>
        {% endif %}
        {#    ------------------------------variant price----------------------------#}
        <div class="card p-3 bg-success m-2">
            <h4>Your choice Price: {{ selected_variant.total_price }}</h4>
        </div>
    {% endif %}
    {#    ---------------------------------like-----------------------------------------------------------#}
    {% if request.user.is_authenticated %}
        {% if is_like %}
            <a class="btn btn-warning" href="{% url 'home:like' product.id %}">undo Like</a>
        {% else %}
            <a class="btn btn-success{% if is_unlike %} disabled {% endif %}" href="{% url 'home:like' product.id %}">Like</a>
        {% endif %}

        {% if is_unlike %}
            <a class="btn btn-primary" href="{% url 'home:unlike' product.id %}">undo
                unLike</a>
        {% else %}
            <a class="btn btn-danger{% if is_like %} disabled {% endif %}" href="{% url 'home:unlike' product.id %}">unLike</a>
        {% endif %}

    {% endif %}

    Likes: <small>{{ product.total_like }}</small>
    unLikes: <small>{{ product.total_unlike }}</small>
    {#        ---------------------------------------for similar objects-------------------------------------------#}
    <hr>
    {% for tag in similar %}
        <a href="{% url 'home:product-detail' tag.id %}">
            <img src="{{ tag.image.url }}" alt="{{ tag.name }}" style="height: 100px; width: 100px">
        </a>
    {% endfor %}
    <hr>
    {#--------------------------------------------------------comments---------------------------------------------#}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'home:comment' product.id %}">
            {% csrf_token %}
            <textarea name="comment" cols="150" rows="3"></textarea><br>
            Rating: <input type="number" min="1" max="5" name="rate" value="1"><br>
            <button class="btn btn-success" type="submit">Send Comment</button>
        </form>
    {% endif %}

    <br>


    {% for com in comments %}
        <div class="card p-2 m-1 rounded-3" style="background-color: lightblue">
            <div class="p-2 m-2">
                {% if user.is_authenticated %}
                    <a href="{% url 'home:comment-like' com.id %}"><i class="fa fa-thumbs-up" style="color: green"></i></a>
                    likes:&nbsp;<small>{{ com.total_like }}</small>
                {% endif %}
            </div>
            <h3>{{ com.user.username }}</h3>
            <p>{{ com.comment }}</p>
            <small>rate: {{ com.rate }}</small>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'home:reply-comment' product.id com.id %}">
                    {% csrf_token %}
                    <textarea name="comment" class="rounded-3 m-2 p-2" cols="80" rows="2"></textarea><br>
                    <button class="btn btn-success" type="submit">Send reply</button>
                </form>
            {% endif %}
            {% for data in com.comment_reply_sub.all %}
                <div class="card p-2 m-2">
                    <h6>{{ data.user.username }}</h6>
                    <p>{{ data.comment }}</p>
                </div>
            {% endfor %}

        </div>
    {% endfor %}
{% endblock %}