{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load url_template_tag %}

{% block title %}
    Products
{% endblock %}

{% block body %}
    {#    ------------------------------- categories --------------------------------#}
    {% for data in category %}
        <div class="btn-group">
            <a href="{{ data.get_absolute_url }}">{{ data.name }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                {% for info in data.sub.all %}
                    <li><a class="dropdown-item" href="{{ info.get_absolute_url }}">{{ info.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="row">
        {#-----------side filters-------------#}
        <div class="col-md-3">
            <form action="">
                <label for="">Price: <br>
                    greater than:<input type="number" name="price_1" min="{{ min_price }}" max="{{ max_price }}"
                                        value="{{ min_price }}"><br>
                    less than:<input type="number" name="price_2" min="{{ min_price }}" max="{{ max_price }}"
                                     value="{{ max_price }}"><br>
                </label><br>
                <label for="">Brand: <br>
                    {{ filter.form.brand }}
                </label><br>
                <label for="">Color: <br>
                    {{ filter.form.color }}
                </label><br>
                <label for="">Size: <br>
                    {{ filter.form.size }}
                </label><br>
                {# -----fix join error---#}
                <div style="display: none">
                    {{ filter.form.price }}
                    {{ filter.form.create }}
                    {{ filter.form.discount }}
                    {{ filter.form.sell }}
                    {{ filter.form.favorite }}
                    {#-------fix search with filter error-------#}
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-success">Filter</button>
            </form>
        </div>
        {#        ---------------- products ,pagination and top filter ---------------#}
        <div class="col-md-9">
            {#     --------------- Top filter ---------------------#}
            <div class="row">
                <div>
                    <form>
                        <input type="submit" name="price" value="گران ترین">
                        <input type="submit" name="price" value="ارزان ترین">
                        <input type="submit" name="create" value="جدیدترین">
                        <input type="submit" name="discount" value="بیشترین تخفیف">
                        <input type="submit" name="sell" value="پرفروش ترین">
                        <input type="submit" name="favorite" value="محبوب ترین">
                        {# -----fix join error---#}
                        <div style="display: none">
                            {{ filter.form.brand }}
                            {{ filter.form.color }}
                            {{ filter.form.size }}
                            {{ filter.form.price_1 }}
                            {{ filter.form.price_2 }}
                            {#-------fix search with filter error-------#}
                            {{ form }}
                        </div>
                    </form>
                </div>
                <br>
            </div>
            {#    ----------------------- products and paginations ----------------------#}
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <h1>{{ product.name }}</h1>
                        <a href="{% url 'home:product-detail' product.id %}">
                            {% thumbnail product.image '200x200' as img %}
                                <img src="{{ img.url }}" alt="{{ product.name }}" style="width: 200px;"><br>
                            {% endthumbnail %}
                        </a>
                        {% if product.discount %}
                            Price:
                            <small style="text-decoration: line-through">{{ product.unit_price|intcomma:False }}</small>
                            <br>
                            Price with discount: <small>{{ product.total_price|intcomma:False }}</small>
                        {% else %}
                            Price:<small>{{ product.total_price|intcomma:False }}</small>
                        {% endif %}
                    </div>
                    {#----------------compare section---------------------#}
                    <form action="{% url 'cart:compare' product.id %}">
                        <input type="hidden" value="{{ product.id }}" name="product">
                        <button type="submit" class="btn btn-danger">Compare</button>
                    </form>
                    {#-----------------------------------------------------#}
                {% endfor %}

                {#    --------------------------------------- Pagination ------------------------------#}
                <nav aria-label="Page navigation example">
                    <ul class="pagination my-3">
                        {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% filter_url products.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% filter_url products.previous_page_number 'page' request.GET.urlencode %}">
                                    {{ products.previous_page_number }}
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link {% if page_num == page_num %}active{% endif %}"
                               href="{% filter_url products.number 'page' request.GET.urlencode %}">
                                {{ products.number }}
                            </a>
                        </li>

                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% filter_url products.next_page_number 'page' request.GET.urlencode %}">
                                    {{ products.next_page_number }}
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% filter_url products.next_page_number 'page' request.GET.urlencode %}">Next</a>
                            </li>

                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}