{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}

{% block body %}
    <h1>Profile</h1>
    <table>
        <tr>
            <td>
                <img src="{{ profile.profile_image.url }}" style="height: 200px; width: 200px">
            </td>
        </tr>
        <tr>
            <th>UserName:{{ profile.user.username }}</th>
        </tr>
        <tr>
            <th>Email:{{ profile.user.email }}</th>
        </tr>
        <tr>
            <th>first name:{{ profile.user.first_name }}</th>
        </tr>
        <tr>
            <th>last name:{{ profile.user.last_name }}</th>
        </tr>
        <tr>
            <th>phone number:{{ profile.phone }}</th>
        </tr>
        <tr>
            <th>address:{{ profile.address }}</th>
        </tr>
    </table>
    <a href="{% url 'accounting:update-profile' %}">Update</a><br>
    <a href="{% url 'accounting:change-password' %}">Change password</a><br>
    <a href="{% url 'accounting:favorite' %}">Favorites</a><br>
    <a href="{% url 'accounting:history' %}">history</a>
{% endblock %}